div {
    font-family: "Arial Unicode MS";
    background-color:white;
    font-size="13";}
h1,h2{font-family:"Arian Unicode MS";
    text-weight:bold;
}
.cel_zawodowy, .doswiadczenie,.jezyk,.imie_nazwisko,.wyksztalcenie,.certyfikaty,.zainteresowania{
    font-family:Arial;
    font-style:normal;
    align=justify;
    font-size:12ptk;
}