<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/resumebuilder</property>



        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">false</property>



        <mapping class="pl.novaris.resumebuilder.dao.entity.Education"/>
        <mapping class="pl.novaris.resumebuilder.dao.entity.Experience"/>
        <mapping class="pl.novaris.resumebuilder.dao.entity.Language"/>
        <mapping class="pl.novaris.resumebuilder.dao.entity.Resume"/>
        <mapping class="pl.novaris.resumebuilder.dao.entity.Skill"/>
    </session-factory>
</hibernate-configuration>