<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Resume builder</title>
</head>
<body>
<h1>Curriculum Vitae</h1>
<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr><td>Wyślij zdjęcie: </td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>
<form action="#" th:action="@{/docx4j/fill}" th:object="${resume}" method="post">
  <fieldset>
    <p>Imię</p>
    <textarea type="textarea" th:field="*{name}" />

    <p>Nazwisko</p>
    <textarea type="textarea" th:field="*{surname}" />

    <p>Data urodzenia</p>
    <textarea type="textarea" th:field="*{birthday}" />

    <p>Miejsce zamieszkania 1</p>
    <textarea type="textarea" th:field="*{locationOne}" />

    <p>Miejsce zamieszkania 2</p>
    <textarea type="textarea" th:field="*{locationTwo}" />

    <p>Adres e-mail</p>
    <textarea type="textarea" th:field="*{email}" />

    <p>Numer telefonu</p>
    <textarea type="textarea" th:field="*{phone}" />

    <p>Cel zawodowy</p>
    <textarea type="textarea" th:field="*{target}" />

      <div>
          <label>Wykształcenie</label>
          <table>
              <thead>
              <tr>
                  <th>Lata</th>
                  <th>Nazwa uczelni</th>
                  <th>Nazwa kierunku</th>
                  <th>
                      <button type="submit" name="addEducation">Dodaj wykształcenie</button>
                  </th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="education,eduStat : *{educations}">
                  <td>
                      <textarea type="textarea" th:field="*{educations[__${eduStat.index}__].time}" th:errorclass="fieldError" />
                  </td>
                  <td>
                      <textarea type="textarea" th:field="*{educations[__${eduStat.index}__].universityName}" th:errorclass="fieldError" />
                  </td>
                  <td>
                      <textarea type="textarea" th:field="*{educations[__${eduStat.index}__].universityCourse}" th:errorclass="fieldError" />
                  </td>
                  <td>
                      <button type="submit" name="removeEducation" th:value="${eduStat.index}">Usuń wykształcenie</button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>

    <div>
        <label>Doświadczenie</label>
        <table>
            <thead>
            <tr>
                <th>Lata</th>
                <th>Pracodawca</th>
                <th>Stanowisko</th>
                <th>Opis</th>
                <th>
                    <button type="submit" name="addExperience">Dodaj doświadczenie</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="experience,expStat : *{experiences}">
                <td>
                    <textarea type="textarea" th:field="*{experiences[__${expStat.index}__].time}" th:errorclass="fieldError" />
                </td>
                <td>
                    <textarea type="textarea" th:field="*{experiences[__${expStat.index}__].name}" th:errorclass="fieldError" />
                </td>
                <td>
                    <textarea type="textarea" th:field="*{experiences[__${expStat.index}__].roleName}" th:errorclass="fieldError" />
                </td>
                <td>
                    <textarea type="textarea" th:field="*{experiences[__${expStat.index}__].description}" th:errorclass="fieldError" />
                </td>
                <td>
                    <button type="submit" name="removeExperience" th:value="${expStat.index}">Usuń doświadczenie</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

      <div>
          <label>Umiejętności</label>
          <table>
              <thead>
              <tr>
                  <th>Nazwa</th>
                  <th>Opis</th>
                  <th>
                      <button type="submit" name="addSkill">Dodaj umiejętność</button>
                  </th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="skill,skillStat : *{skills}">
                  <td>
                      <textarea type="textarea" th:field="*{skills[__${skillStat.index}__].name}" th:errorclass="fieldError" />
                  </td>
                  <td>
                      <textarea type="textarea" th:field="*{skills[__${skillStat.index}__].description}" th:errorclass="fieldError" />
                  </td>
                  <td>
                      <button type="submit" name="removeSkill" th:value="${skillStat.index}">Usuń umiejętność</button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>

      <div>
          <label>Języki</label>
          <table>
              <thead>
              <tr>
                  <th>Nazwa</th>
                  <th>Poziom</th>
                  <th>
                      <button type="submit" name="addLanguage">Dodaj język</button>
                  </th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="language,langStat : *{languages}">
                  <td>
                      <textarea type="textarea" th:field="*{languages[__${langStat.index}__].name}" th:errorclass="fieldError" />
                  </td>
                  <td>
                      <textarea type="textarea" th:field="*{languages[__${langStat.index}__].level}" th:errorclass="fieldError" />
                  </td>
                  <td>
                      <button type="submit" name="removeLanguage" th:value="${langStat.index}">Usuń język</button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>

    <p>Certyfikaty</p>
    <textarea type="textarea" th:field="*{certificate}" />

    <p>Zainteresowania</p>
    <textarea type="textarea" th:field="*{hobby}" />

    <p><button type="submit" name="save" >Generate</button></p>
  </fieldset>
</form>
</body>
</html>